body{
    margin: 20px;
 }
 .start-quiz{
     margin: 0 auto; 
     width: 700px; 
     text-align: center; 
      
 }
 .the-end{
     margin: 0 auto; 
     width: 900px; 
     visibility: hidden;
 }
 
 .last-section{
 
     margin: 0 auto; 
     width: 900px; 
     visibility: hidden;
  }
 
  /* BUTTONS */

  .all_btn{
    background: black; 
    padding: 15px;
    margin: 15px;
    width: 30%; 
    border: 2px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    text-align: center;
    
    
}
.myBtn{
    background: black; 
    padding: 20px;
    margin: 20px; 
    border: 2px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    

}

button{
    background: maroon!important;

}

@media only screen 
 and (min-width:320px) 
 and (max-width:540px) {
 
     .all_btn{
         background: maroon; 
         padding: 10px;
         margin: 20px;
         width: 100%; 
         border: 1px solid cornsilk;
         border-radius: 5px;
         color: white;   
         font-size: 1.em;
         text-align: center;
    
         
         
     }
     .start-quiz{
         margin: 0px;
         text-align: justify;
         word-wrap: break-word;
         width: 100%;
     }
 
         
     h2{
         text-align: left;
     }
 
     .the-end{
         margin: 0px; 
         width: 100%; 
         visibility: hidden;
     }
     
     .last-section{
 
         margin: 0px; 
         width: 100%; 
         visibility: hidden;
      }
 }
